* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.app {
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 10px 10px;
}

.gradient-one {
  background: linear-gradient(
    90deg,
    hsla(191, 75%, 60%, 1) 0%,
    hsla(248, 87%, 36%, 1) 100%
  );
}

.gradient-two {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

.gradient-three {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

.gradient-four {
  background-image: linear-gradient(to bottom right, #ff512f, #dd2476);
}
.gradient-five {
  background-image: linear-gradient(to bottom right, #fd8451, #ffbd6f);
}

.gradient-six {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
